body {
    background-color: rgb(52, 61, 70);
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, sans-serif;
}

* {
    box-sizing: border-box;
  
}

.page {
    width: 90%;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    background-color: tomato;
    height: 100vh;
}

.search-bar-box {
    width: 60%;
    flex-basis: auto;
    margin-top: 0.75em;
    /* margin: auto; */
    display: inline-flex;
    border-radius: 0.25em;
    background-color: white;
    overflow: hidden;
    margin-bottom: 5vh;
}

.search-button {
    background-color: white;
    border: none;
}

.search-bar {
    display: inline-flex;
    flex: 2;
    border: none;
    font-size: 1.05em;
    /* min-width: 180px; */
}

.search-bar:focus, .search-button:focus {
    /* border: none; */
    outline: none;
}

.search-button:hover {
    background-color: rgb(216, 216, 216);
    transition: background-color 0.5s;
}

.clips-list {
    display: flex;
    overflow: hidden;
    flex-flow: row nowrap;
    width: 100%;
    height: 80vh;
    background-color: rgb(187, 217, 237);
}

.clip {
    background-color: white;
    margin-right: 10vw;
    width: 30vw;
    display: flex;
    flex-flow: column nowrap;
    padding: 0.75em 0;
    border-radius: 0.75em;
}

.clip-header-container {
    position: relative;
}

.clip-preview {
    max-width: 100%;
    max-height: 100%;
}

.clip-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 0.5em 0;
    font-size: 1.25rem;
    line-height: 1.25rem;
    font-weight: bold;
    color: white;
    text-align: center;
    background-color: rgba(15, 143, 58, 0.837);
}

.clip-content {
    padding: 1em 0.75em 0 0.75em;
    text-align: left;
}

.clip-metrics{
    align-self: center;
    padding: 0 2em;
    text-align: center;
}

.clip-metrics-icon {
    font-size: 1.5em;
    /* margin-right: 2em; */
    float: left;
    color: rgb(111, 108, 109);
}

.clip-description {
    font-style: italic;
    line-height: 1.1em;
}
